body{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;

}

/* Font para titulos */
.titulos {

    font-family: 'Montserrat', sans-serif;

}

.navegador{
    background-color: #1A535C;


}

header {
    background-image: url(../img/Eduardo.JPG);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    margin-top: 3.12em;
    padding-top: 15em;
    padding-bottom: 14em;

}