body{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #fffdf7;

}

/* Font para titulos */
.titulos {

    font-family: 'Montserrat', sans-serif;

}

.navegador{
    background-color: #1A535C;
    color: #fffdf7;

}

header {
    background-image: url(../img/Eduardo.JPG);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    margin-top: 3.12em;
    padding-top: 15em;
    padding-bottom: 14em;
    color: #fffdf7;

}

header .btn, .botonModal {
    background-color: #84BC9C;
}


.formulario, .trabajos{
    background-color: #84BC9C;
}

.imagenesCarro {
    width: 20em;
    height: 14em;
}

.carousel-indicators {
    top: 240px;
}

.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #373A3C;

}

.iconosExp{
    color: #A07178; 
}